$blue: #30567E;
$yellow: #E8CF44;
$brown: #42332F;

$light-green: #648889;
$light_blue: #A3CAEF;
$light_brown: #59453C;
$white: #FFFFFA;

$primary-yellow: $yellow;
$primary-blue: $blue;
$primary-brown: $brown;
$primary-white: $white;

$secondary-green: $light-green;
$secondary-blue: $light_blue;
$secondary-brown: $light_brown;
$secondary-white: $white;